{% extends 'base.html.twig' %}

{% block title %}Ajouter une news{% endblock %}

{% block body %}
    {{ parent() }}
    <main>
        <h1 class="titleActu">Ajouter un new</h1>
        <div class="container-fluid mt-4 w-50">
            {% form_theme form 'bootstrap_5_layout.html.twig' %}
            {{ form_start(form) }}
            <div>
                {{ form_row(form.title) }}
            </div>
            <div>
                {{ form_row(form.content) }}
            </div>
            <div class="mb-3">
                <input type="submit" value="Enregistrer" name="submit" class="btn-primary btn">
            </div>
            {{ form_widget(form._token) }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token("book-add") }}">
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </main>
{% endblock %}

