{% extends 'base.html.twig' %}

{% block title %}Hello ActualityController!{% endblock %}

{% block body %}
    {{ parent() }}
    <main class="">
        {% for book in books %}
            <h1 class="titleActu">{{ actu.title }} </h1>
            <div class="container center_flex width_50">
                 {{ actu.content }}
                <div class="flexColumn">
                    <div class="marg_30">
                        <a class="update" href="/{{ path('actuality_delete', {'id': 'x'}) }}"><i class="fa-solid fa-pen-to-square"></i> Modifier la new </a>
                    </div>
                    <div class="marg_30">
                        <a class="delete" href="/{{ path('actuality_delete', {'id': 'x'}) }}"><i class="fa-solid fa-trash-can"></i> Supprimer la new</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}
